[Unit]
Description=Battery monitoring with sound alert
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/env bash /usr/local/bin/sng-batmon

[Install]
WantedBy=graphical.target
