[Unit]
Description=Battery monitoring with sound alert
After=alsa-restore.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/env bash {{INSTALL_PREFIX}}/sng-batmon
Documentation=man:sng-batmon(1)

[Install]
WantedBy=graphical.target
